* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: auto;
}

.main-div {
   background-image: url(images/apple.jpg);
   background-repeat: no-repeat;
   background-size: 1200px 700px;
   max-width: 100%;
   height: 600px;
   margin: auto;
}

.second-div {
   width: 1200px;
   height: 250px;
   background-image:
                    url(images/apple2.jpg),
                    url(images/apple3.jpg),
                    url(images/apple4.jpg),
                    url(images/apple5.jpg);

   background-repeat: no-repeat,
       no-repeat,
       no-repeat;
       no-repeat;
       background-size: 300px 300px;
   background-position: 0 0%,
       300px 0%,
       600px 0%,
       900px 0%;
   margin: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .8rem;
  grid-row-gap: 1rem;
  width: 1175px;
  margin: auto;
  margin-top: 2rem;
}

.footer p {
  font-size: 11px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-column-gap: 2px;
  position: relative;
  top: 90px;
  left: 125px;
}

 input, nav p {
  font-size: 15px;
  border: none;
  padding: .5rem;
  color: #fff;
  background-color: #595959;
}

 #span1 i {
  color: #fff;
  margin-left: 40px;
  margin-top: 6px;
  font-size: 20px;
}
nav span {
 background-color: #595959;
}

#span2 {
  border-radius: .3rem;
  background-color: #666666;
}
#span2 i {
  padding-right: 60px;
  padding-left: 5px;
}

.content {
  position: relative;
  top: 150px;
  left: 20px;
  width: 1000px;
  margin: auto;
}
.content p a {
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 200px;
  font-size: 25px;
}

.content p {
  margin-top: 1rem;
}
