* {
  margin: 0;
  padding: 0;
}

main {
  width: 1458px;
  margin: auto;
  overflow:hidden;
}

.main-div {
  background-image: url(images/apple.jpg);
  background-repeat: no-repeat;
  background-position: 8px -650px;
  background-size: 1458px;
  width: 1458px;
  margin: auto;
  height: 650px;
}

.second-div {
  width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 358px 358px 358px 358px;
  grid-column-gap: 8px;
}
.second-div .div1 {
  background-image: url(images/apple2.jpg);
}

.second-div .div2 {
  background-image: url(images/apple3.jpg);
}

.second-div .div3 {
  background-image: url(images/apple4.jpg);
}

.second-div .div4 {

}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.8rem;
  grid-row-gap: 1rem;
  width: 1175px;
  margin: auto;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  position: relative;
  height: 20px;
  top: 90px;
  left: 300px;
}

ul {
  list-style: none;
}

ul {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-column-gap: 1px;

}

nav ul li,
nav p {
  font-size: 15px;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background: linear-gradient(#747474 50%, #676767 50%);
}

.footer p {
  font-size: 8px;
}

#li1 i {
  color: #fff;
  margin-left: 40px;
  margin-top: 2px;
  font-size: 15px;
}

nav span {
  background-color: #595959;
}

#span2 {
  border-radius: 0.3rem;
  background-color: #666;
}

#span2 i {
  padding-right: 60px;
  padding-left: 5px;
}

.content {
  position: relative;
  top: 150px;
  left: 20px;
  width: 1000px;
  margin: auto;
}

.content p {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.content p a {
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 150px;
  font-size: 25px;
}

.content p {
  margin-top: 1rem;
}
